@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
  margin: 0;
  text-align: center;
  background: #FFF3F6;
  font-family: 'Galmuri11', sans-serif;
  color: #3b2a24;
}

h1 {
  margin-top: 30px;
}

video {
  width: 90%;
  max-width: 390px;
  border-radius: 24px;
  margin: 15px 0;
  transform: scaleX(-1);
  background: #000;
  box-shadow: 0 8px 20px rgba(80, 45, 20, 0.25);
}

.control-box {
  background: #fffaf5;
  width: 90%;
  max-width: 420px;
  margin: 0 auto;
  padding: 18px;
  border-radius: 24px;
  box-shadow: 0 6px 16px rgba(80, 45, 20, 0.15);
}

select, button {
  margin: 8px;
  padding: 12px 18px;
  border-radius: 24px;
  border: none;
  font-size: 15px;
}

select {
  background: white;
  color: #4b2e1f;
}

button {
  background: #4b2e1f;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

#countdown {
  font-size: 42px;
  height: 50px;
  margin: 10px;
}

#photoCount {
  font-size: 18px;
  font-weight: bold;
}

canvas {
  margin-top: 20px;
  width: 280px;
  max-width: 90%;
  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(80, 45, 20, 0.25);
}

.frame-buttons {
  margin: 15px;
}

.frameBtn {
  background: #a06b45;
}

.hidden {
  display: none;
}
.image-button {
  background: none;
  border: none;
  padding: 0;
  margin: 8px;
  cursor: pointer;
}

.image-button img {
  width: 160px;
  height: auto;
  display: block;
}

.image-button:hover {
  opacity: 0.85;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 85px;
  margin-top: 20px;
}

.filterBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.filterBtn img {
  width: 90px;
  height: auto;
  display: block;
}

.filterBtn.selected {
  border: 4px solid #8f6d5a;
  border-radius: 18px;
  padding: 12px;
}

.main-title {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #4b2e1f;
}

#cameraScreen {
  padding-top: 80px;
}

.camera-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
